 @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
 
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  list-style: none !important;
  list-style-type: none !important;
  text-decoration: none !important;
  outline: none !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
 
  /* // background: rgb(64, 61, 59); */
 
  background: rgba(64, 61, 59, 0.386); 
 
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(64, 61, 59, 0.8);
}

body {
  font-family: "Poppins", sans-serif !important;
  background: #f6f6f6;
  margin: 0;
  letter-spacing: normal;
  box-sizing: border-box !important;
  font-size: small !important;
}
 

#tfoot-ReactPaginate {
  display: flex;
  justify-content: space-between !important;
  width: 100%;
  /* background-color: #fff; */
  padding: 0.8rem 0.4rem;
  margin-top: 0.1rem;
  font-family: "poppins" !important;
  flex-wrap: wrap !important;
  font-weight: bold !important;
}

#bg-Pagination{
  display: flex;
justify-content: space-between;
align-items: center;
}

.pagination-container {
  list-style: none;
  display: flex;
  gap: 0.5rem;
    flex-wrap: wrap !important;
}
.pagination-container a {
  color: #707683;
  padding: 0.25rem 0.5rem;
  user-select: none;
  border: 1px solid #fff;
  border-radius: 3px;
text-decoration: none !important;
}
.pagination-container a:hover {
  color: var(--clr-blue) !important;
  border: 1px solid var(--clr-blue);
}
.pagination-active a,
.pagination-active a:hover {
  background:  linear-gradient(135deg, #21D4FD 0%, #124383 100%) !important;
  /* background-color: var(--clr-blue); */
  color: #fff !important;
  /* border: 1px solid var(--clr-blue); */
}
#table-footer a.previous-btn,
#table-footer a.next-btn {
  color: var(--clr-blue);
  border: 1px solid #005b90;
}
.pagination-disabled a,
.pagination-disabled a:hover {
  color: #b4b4b4 !important;
  cursor: not-allowed;
  border: 1px solid #b4b4b4 !important;
}
/* --- End Pagination --- */

.profile-picture{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem
}
 
 
 @import url(./styles/pages/login.css);
 @import url(./styles/compotent/header.css);
 @import url(./styles/css/bootstrap.css);
 @import url(./styles/pages/RegisterUser.css);
 
 
 